
  .App {
    background: #A3CDC1;
    background: -webkit-linear-gradient(bottom, #A3CDC1, #ABF9E3);
    background: -moz-linear-gradient(bottom, #A3CDC1, #ABF9E3);
    background: linear-gradient(to top, #A3CDC1, #ABF9E3);
    min-height: 100vh;
    max-width: 100vw;
  }
  
  .item-container{
    background: none;
    color: rgb(255, 255, 255);
    align-items: center;
    width: 300px;
    margin:10px;
  }
  .anime {
    display: flex;
    flex-direction: column;
    background: #02124D;
    background: -webkit-radial-gradient(center, #02124D, #011C38);
    background: -moz-radial-gradient(center, #02124D, #011C38);
    background: radial-gradient(ellipse at center, #02124D, #011C38);
    margin: 10px;
    border-radius: 20px;
    font-size: 10px;
    align-items: center;
    width: 30vw;
    box-shadow: -3px -2px 5px rgb(17, 15, 15);
    min-height: 200px;
    flex-wrap: wrap;
    margin-left: 650px;
  }
  .anime .name-cont {
    justify-content: flex-end;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase
  }

  .anime .author-cont{
    font-size: 25px;
  }
  .anime .rating-cont{
    font-size: 15px;
  }
  .anime .comments-cont{
    font-size: 19px;
  }
  .anime .delete-btn{
    visibility: hidden;
    order: -1;
    justify-self: flex-end;
    margin-left: 250px;
  }
  .anime .delete-btn::after{
    content: "x";
    visibility: visible;
    color: burlywood;
    font-size: 30px;
    margin: 0px 5px 0px 0px;
    padding-left: 90px;
    font-weight: bold;
    cursor: pointer;
  }

  .anime .edit-link{
    order: 8;
    visibility: hidden;
  }

.add-comment{
  font-size: 20px;
  margin: 5px 0px 0px 0px;
  border: 3px solid rgb(253, 104, 4);
  text-align: center;
  box-shadow:inset 0px 1px 0px 0px #fff6af;
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color:#ffec64;
  border-radius:6px;
  border:1px solid #ffaa22;
  cursor: pointer;
}
  .nav-bar{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    grid-row: 2 / span 1;
  }
  .nav-bar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    border: none;
    padding: 5px;
  }

  .nav-bar .add-button{
    font-weight: bolder;
  }

  .nav-bar a:focus {
    background-color: rgb(0, 23, 194);
  }
  .home-searchbar{
    margin: 10px;
    margin-left: 900px;
    width: 200px;
    height: 25px;
    font-size: 20px;
    border-radius: 8px;
  }

  .form-component{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .anime-input-container{
    padding: 5px;
    margin: 5px;
    font-size: 30px;
    margin-left: 700px;
  }
  .anime-input{
    margin: 10px;
    max-width: 100vw;
    height: 45px;
    font-size: 20px;
    border-radius: 50px;
  }
  .anime-label{
    font-size: 20px;
    float: left;
    margin-left: 15px;
  }

  .author-input-container{
    padding: 5px;
    margin: 5px;
    font-size: 30px;
    margin-left: 700px;
  }
  .author-input{
    margin: 10px;
    max-width: 100vw;
    height: 45px;
    font-size: 20px;
    border-radius: 50px;
  }
  .author-label{
    font-size: 20px;
    float: left;
    margin-left: 15px;
  }
  .comments-container{
    font-size: 30px;

  }
  .comments-container .comment{
    color: darkgoldenrod;
 
  }
  .rating-input{
    padding: 10px;
    margin: 10px;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .rating-input .rating-label{
      font-size: 20px;
      align-self:flex-start;
      margin: 5px;
      color: black;
      visibility: hidden;
    }
  .rating-input .input-meter{
      width: 300px;
    }
  .add-btn{
    margin: 0px;
    display: inline;
    width: 100px;
    border-radius: 0px;
    padding: 18px 30px;
    background-color: #57ce5b;
    align-self: center;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .add-btn:active{
    background-color: #3e8e41;
    box-shadow: 0 5px rgb(255, 255, 255);
    transform: translateY(4px);
  }
  .comment-component{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
  }
  .comment-component textarea{
    width: 300px;
  }
  .comment-component button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 37;
    -moz-border-radius: 37;
    border-radius: 37px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 10px;
  }
  
  .comment-component button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  input:focus{
    outline: none;
  }
  .selection-container select{
    color: rgb(65, 34, 0);
    font-size: 20px;
    margin-top: 30px;
    width:  20vw;
    margin-left: 750px;
  }

  .more-anime a {
    text-decoration: none;
    color: black;
    font-size: 40px;
  }
  .more-anime{
    margin: 50px 0px 0px 750px;
  }
  .home-searchbar{
    margin: 10px;
    margin-left: 850px;
    width: 200px;
    height: 25px;
    font-size: 20px;
    border-radius: 8px;
  }

/* input slider range styling*/
input[type=range] {
  width: 100%;
  margin: 4.3px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #ffd900;
  border: 0.2px solid #000101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -4.5px;
  width: 16px;
  height: 17px;
  background: rgba(255, 217, 0, 0.9);
  border: 1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffdd1a;
}
input[type=range]::-moz-range-track {
  background: #ffd900;
  border: 0.2px solid #000101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 17px;
  background: rgba(255, 217, 0, 0.9);
  border: 1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 5.3px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #e6c300;
  border: 0.2px solid #000101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #ffd900;
  border: 0.2px solid #000101;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  width: 16px;
  height: 17px;
  background: rgba(255, 217, 0, 0.9);
  border: 1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffd900;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffdd1a;
}


  
  @media screen and (max-width: 480px) {
  
    .App {
      background: #FFFFFF;
      background: -webkit-linear-gradient(bottom right, #FFFFFF, #FAFBE1);
      background: -moz-linear-gradient(bottom right, #FFFFFF, #FAFBE1);
      background: linear-gradient(to top left, #FFFFFF, #FAFBE1);
      min-height: 100vh;
    }
    .item-container{
      background: none;
      color: rgb(255, 255, 255);
      align-items: center;
      width: 300px;
      margin:10px;
    }
    .anime {
      display: flex;
      flex-direction: column;
      background: #02124D;
      background: -webkit-radial-gradient(center, #02124D, #011C38);
      background: -moz-radial-gradient(center, #02124D, #011C38);
      background: radial-gradient(ellipse at center, #02124D, #011C38);
      margin: 10px;
      border-radius: 20px;
      font-size: 10px;
      align-items: center;
      width: 90vw;
      box-shadow: -3px -2px 5px rgb(17, 15, 15);
      min-height: 200px;
      flex-wrap: wrap;
    }
    .anime .name-cont {
      justify-content: flex-end;
      font-weight: bold;
      font-size: 30px;
    }
    .anime .author-cont{
      font-size: 25px;
    }
    .anime .rating-cont{
      font-size: 15px;
    }
    .anime .comments-cont{
      font-size: 19px;
    }
    .anime .delete-btn{
      visibility: hidden;
      order: -1;
      justify-self: flex-end;
      margin-left: 250px;
    }
    .anime .delete-btn::after{
      content: "x";
      visibility: visible;
      color: burlywood;
      font-size: 30px;
      grid-row: 1 /span 1;
      margin: 0px 5px 0px 0px;
      grid-column: 7 /span 1;
      font-weight: bold;
      padding-left: 0px;
    }
  
    .anime .edit-link{
      order: 8;
      visibility: hidden;
    }
  
  .add-comment{
    font-size: 20px;
    margin: 5px 0px 0px 0px;
    border: 3px solid rgb(253, 104, 4);
    text-align: center;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color:#ffec64;
    border-radius:6px;
    border:1px solid #ffaa22;
  }
    .nav-bar{
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: space-between;
      background-color: rgb(0, 0, 0);
      grid-row: 2 / span 1;
    }
    .nav-bar a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 30px;
      border: none;
      padding: 5px;
    }
  
    .nav-bar .add-button{
      font-weight: bolder;
    }
  
    .nav-bar a:focus {
      background-color: rgb(0, 23, 194);
    }
    .home-searchbar{
      margin: 10px;
      width: 200px;
      height: 25px;
      font-size: 20px;
      border-radius: 8px;
    }
  
    .form-component{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .anime-input-container{
      padding: 5px;
      margin: 5px;
      font-size: 30px;
    }
    .anime-input{
      margin: 10px;
      max-width: 100vw;
      height: 45px;
      font-size: 20px;
      border-radius: 50px;
    }
    .anime-label{
      font-size: 20px;
      float: left;
      margin-left: 15px;
    }
  
    .author-input-container{
      padding: 5px;
      margin: 5px;
      font-size: 30px;
    }
    .author-input{
      margin: 10px;
      max-width: 100vw;
      height: 45px;
      font-size: 20px;
      border-radius: 50px;
  
    }
    .author-label{
      font-size: 20px;
      float: left;
      margin-left: 15px;
    }
    .comments-container{
      font-size: 30px;
  
    }
    .comments-container .comment{
      color: darkgoldenrod;
   
    }
    .rating-input{
      padding: 10px;
      margin: 10px;
      font-size: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 80vw;
    }
    .add-btn{
      margin: 0px;
      display: inline;
      width: 100px;
      border-radius: 0px;
      padding: 18px 30px;
      background-color: #57ce5b;
      align-self: center;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }
  
    .add-btn:active{
      background-color: #3e8e41;
      box-shadow: 0 5px rgb(255, 255, 255);
      transform: translateY(4px);
    }
  
  
    .rating-input .rating-label{
      font-size: 20px;
      align-self:flex-start;
      margin: 5px;
      color: black;
      visibility: visible;
    }
  
    .comment-component{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 10px;
    }
    input:focus{
      outline: none;
    }
    .selection-container select{
      color: blue;
      font-size: 20px;
      margin-top: 30px;
      width:  80vw;
      margin-left: 20px;
    }


  .more-anime a {
    text-decoration: none;
    color: rgb(119, 9, 9);
    font-size: 40px;
  }
  .more-anime{
    margin: 50px 0px 0px 0px;
  }
  
  
  /* input slider range styling*/
  input[type=range] {
    width: 100%;
    margin: 4.3px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #ffd900;
    border: 0.2px solid #000101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -4.5px;
    width: 16px;
    height: 17px;
    background: rgba(255, 217, 0, 0.9);
    border: 1px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffdd1a;
  }
  input[type=range]::-moz-range-track {
    background: #ffd900;
    border: 0.2px solid #000101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 16px;
    height: 17px;
    background: rgba(255, 217, 0, 0.9);
    border: 1px solid #000000;
    border-radius: 50px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 5.3px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #e6c300;
    border: 0.2px solid #000101;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-fill-upper {
    background: #ffd900;
    border: 0.2px solid #000101;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-thumb {
    width: 16px;
    height: 17px;
    background: rgba(255, 217, 0, 0.9);
    border: 1px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ffd900;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ffdd1a;
  }

  
  
  
  
  }